# build target
/**/cmake-build-android/
/**/cmake-build-android-release/
/**/cmake-build-android-debug/
/**/build/
/**/out/
/**/bin/
vcpkg_installed/

.idea/
.vscode/
.vs/
.gradle/
.act/
.devtools
*.md
*.lock
/stats_server
local.properties

java_pid*.hprof
.DS_Store
*.pdb

# Cubism SDK (proprietary binary/source, download from live2d.com)
cpp/plugins/cubism/*
bridge/flutter_engine_bridge/ios/Libs/*.a
apps/flutter_app/devtools_options.yaml
