# build target
/**/cmake-build-android/
/**/cmake-build-android-release/
/**/cmake-build-android-debug/
/**/build/
/**/out/
/**/bin/
vcpkg_installed/

.idea/
.vscode/
.vs/
.gradle/
.act/
.devtools
*.md
*.lock
/stats_server
local.properties

java_pid*.hprof
.DS_Store
*.pdb